{% extends "layout.html" %}

{% block body %}

    <form action="/score">
        <div class="form-group">
            <label for="s1">String 1:</label>
            <input type="s1" class="form-control" id="s1" placeholder="string 1" name="s1">
        </div>
        <div class="form-group">
            <label for="s2">String 2:</label>
            <input type="s2" class="form-control" id="s2" placeholder="string 2" name="s2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
