/* container style */
#container {
    margin: 0 10% 0 10%;
    box-shadow: 0 0 10px #444;
    height: 100%;
    padding: 0;
}

    /* nav style */
    nav {
        background-color: #E06;
    }

    .nav-link {
        color: #FFF;
        display: inline-flex;
    }

    .nav-link:hover {
        color: #444;
    }

    /* content style */
    h2 {
        text-align: center;
        margin: 3% 0;
    }

    .row {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    img {
        width: 100%;
    }

    footer {
        text-align: center;
        left: 0;
        bottom: 1%;
        width: 100%;
    }

/* mobile style changes */
@media screen and (max-device-width: 768px) {
    #container{
        margin: 0;
    }

    .nav-link {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}